
#gamearea{
    height:640px;
    width:640px;
    position:absolute;
    z-index:0;
    border:2px solid black;


}
#inventory{
    top: 50px;
    left:130px;
    height:400px;
    width:400px;
    position:absolute;
    z-index:-1;
    background-color:olivedrab;
}
.stage{
    float: left;
    position: relative;
    border: 2px black solid;
    width: 600px;
    height: 640px;
    background: saddlebrown;
    top: 0;
    left:650px;
}

.scene{
    position: absolute;
    /*border: 2px black solid;*/
    width: 590px;
    height: 200px;



}
#sceneImage{
    top: 5px;
    left: 5px;
}
#sceneDial{
    top: 220px;
    left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
#sceneInteract{
    top: 420px;
    left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
#levelInput{
    position: absolute;
    top: 60px;
    left: 150px;
    width: 200px;
    height: 20px;
    display: none;
}
#levelButton{
    position: absolute;
    top: 60px;
    left: 360px;
    height: 25px;
    display: none;
}
span{
    color: orangered;
}
.btn-wrapper {
    position: fixed;
    top: 660px;
    left: 10px;
}
.btn {
    display: inline-block;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    outline: 0;
    background-color: #00f0a8;
    height: 35px;
    line-height: 30px;
    padding: 0 30px;
    font-size: 20px;
    border-radius: 30px;
    color: #282d32;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 3, 0.4, 1);
    transition-timing-function: cubic-bezier(0.2, 3, 0.4, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
}
.btn:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.btn:active {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}
