@font-face {
    font-family: getout;
    src: url("fonts/kirbyss-webfont.woff2");
}
body{
	background-color: black;
	min-width: 1300px;
}
#gamearea{
    //float: left;
	position: absolute;
    left: 360px;
    top: 50px;
    //z-index: -1;
    border: 2px black solid;
    background: black;
    transition: all, 1s;
    background: darkkhaki;
}
#inventory{
    border: 2px black solid;
}
#stage{
    //float: left;
    //position: relative;
    position: absolute;
    left: 360px;
    top: 50px;
    //z-index: 0;
    border: 2px black solid;
    width: 640px;
    height: 640px;
    background: black;
    transition: all, 1s;
    //opacity: 0.9;
    display: none;
}
.scene{
    position: absolute;
    width: 590px;
    height: 200px;
    font-family: Georgia, getout, sans-serif;
}
#sceneContent{
    top: 80px;
    left: 5px;
    width: 590px;
    height: 320px;
    font-size: 20px;
    text-align: center;
}
#sceneDial{
    top: 300px;
    left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}
#sceneInteract{
    top: 420px;
    left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}
#levelInput{
    position: absolute;
    top: 0px;
    left: 100px;
    width: 300px;
    height: 20px;
    display: none;
    font-family: getout, sans-serif;
}
#levelButton{
    position: absolute;
    top: 0px;
    left: 410px;
    height: 25px;
    display: none;
    font-family: getout, sans-serif;
}
#exitButton{
    position: absolute;
    top: 590px;
    left: 480px;
    height: 25px;
    display: block;
    font-family: getout, sans-serif;
}
#messageBar{
    position: absolute;
    left: 440px;
    top: 0px;

}
#timerDisplay{
    position: absolute;
    top: 20px;
    left: 80px;
    height: 20px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: getout, sans-serif;
}
span{
    color: orangered;
}

